version: '3'

services:
  web:
    container_name: shop-erp-web
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    volumes:
      # Persist the SQLite database
      - ./client/prisma:/app/prisma
      - ./client/dev.db:/app/dev.db
